*       { margin: 0; padding: 0; }
a       { color: #c8c8c8; }
a:hover { color: #fff; }
h1      { font-size: 100%; }

body {
  background-color: #464646;
  color: #c8c8c8;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

.container {
  max-width: 480px;
  margin: 4em auto;
}

.site-header, .site-footer {
  text-align: center;
}

.site-header {
  padding-bottom: 2em;
}

.icon-logo {
  font-size: 6em;
  text-decoration: none;
}

.button {
  display: block;
  padding: 8px 15px 7px;
  background-color: #c8c8c8;
  color: #464646;
  border-radius: 2px;
  font-weight: bold;
  text-decoration: none;
}

a.button:hover {
  background-color: #fff;
  color: #464646;
}

.posts {
  list-style-type: none;
}

.posts li {
  margin-bottom: 1em;
}

.post p {
  margin: 1em 0;
}

.post li {
  margin-left: 16px;
}

a.icon-stack {
  color: #464646;
  font-size: 18px;
  text-decoration: none;
}

a.icon-stack .icon-circle {
  color: #c8c8c8;
}

a.icon-stack:hover .icon-circle {
  color: #fff;
}

a.icon-stack .icon-envelope {
  margin-top: -1px;
  font-size: 19px;
}
