<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container">

          {{ content }}

          <a class="icon-stack" href="mailto:jobs@papercavalier.com">
            <i class="icon-circle icon-light icon-stack-base"></i>
            <i class="icon-envelope"></i>
          </a>

        </div>
    </body>
</html>
