<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="//papercavalier.com/fonts/logo.css">
        <script type="text/javascript" src="//use.typekit.net/oaf2aoc.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <div class="container">
          <div class="site-header">
            <a href="/"><i class="icon-logo"></i></a>
          </div>

          {{ content }}

          <div class="site-footer">
            <a class="icon-stack" href="mailto:jobs@papercavalier.com">
              <i class="icon-circle icon-light icon-stack-base"></i>
              <i class="icon-envelope"></i>
            </a>
          </div>

        </div>
    </body>
</html>
